.row

	.col-lg-2.visible-lg
		%ul.nav.nav-stacked.side-nav
			- (1..6).each do
				%li
					= link_to 'Filter', "#"

	.col-lg-10.col-md-12.isotope
		-#= link_to "Create New Pest", new_pest_path
		- @pests.each do |pest|
			.home-sighting
				= image_tag("temp-pest.jpg")
				%p
					Name:
					= pest.name
				%p
					Size:
					=pest.size