%header.clearfix
	.pull-left
		%h2 My Sightings
	.pull-right
		%select#pest-filter.chosen-select
			%option All
			- @types.each do |type|
				%option
					= type.name
		= link_to "Create New Sighting", new_sighting_path, :class => "btn btn-primary"
%hr
= render :partial => 'sightings/sighting_feed'