.row

	.col-lg-2.visible-lg
		%ul.nav.nav-stacked.side-nav
			- (1..6).each do
				%li
					= link_to 'Filter', "#"

	.col-lg-10.col-md-12.isotope
		- @pests.each do |pest|
			.home-sighting
				= image_tag("temp-pest.jpg")
				%p Pest name: = pest.name
				%p Pest description:
				%p More details:

	-#.col-lg-10.col-md-12.isotope
	-#	- (1..24).each do
	-#		.home-sighting
	-#			= image_tag("temp-pest.jpg")
	-#			%p Pest name
	-#			%p Pest description
	-#			%p More details