%h1 Trace Home Page
-#= link_to "Get Started", controller: "users#new"

.isotope
	- (1..12).each do
		.home-sighting
			%img{:src => "http://www.abc.net.au/news/image/1119758-3x2-940x627.jpg"}
			%p Pest name
			%p Pest description
			%p More details