%h1 stuff goes here

.row
	.col-lg-2
		%ul.nav.nav-stacked.side-nav
			- (1..12).each do
				%li
					= link_to '#', "#"

	.col-lg-10.isotope
		- (1..96).each do
			.home-sighting
				= image_tag("temp-pest.jpg")
				%p Pest name
				%p Pest description
				%p More details