.row
	.col-lg-2
		%ul.nav.nav-stacked.side-nav
			- (1..12).each do
				%li
					= link_to '#', "#"

	.col-lg-10.isotope
		- (1..12).each do
			.home-sighting
				.thumbnail
					%img{ :data => {'src' => 'holder.js/100x180' } }
				%p Pest name
				%p Pest description
				%p More details