/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require formtastic-bootstrap
 *= require chosen
 *= require fancybox
 *= require isotope.min.css
 *= require_self
 *= require_tree .
 */

html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

.remember {
	margin-left: 20%;
	@media (max-width: 768px) {
		margin-left: 0;
	}
}

body {
	padding-top: 70px;
	overflow-x: hidden;
	overflow-y: scroll;
	cursor: default;
}

img {
	max-width: 100%;
	height: auto;
}

.jumbotron h1 {
	overflow: hidden;
	text-overflow: ellipsis;
}

.container {
	min-height: 100%;
}

#container {
	padding-bottom: 80px;
}

.user-image {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	margin: -16px 8px -16px 0;
}

.logo {
	margin: -14px 7px -14px 0;
}

.nav.side-nav {
	border: 1px solid #ddd;
	margin-top: 25px;
	padding: 10px 0;
	border-radius: 4px;
	width: 262px;
	background: #fff;
	li a {
		padding: 5px 15px;
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			background-color: #428bca;
		}
	}
	.open > a {
		background-color: #428bca;
		color: #fff;
	}
	.dropdown-menu {
		position: relative;
		width: 260px;
		border-radius: 0;
		border: 0;
		left: 0;
		margin: 0;
		box-shadow: none;
		float: none;
		li a {
			position: relative;
			display: block;
			color: #428bca;
			padding: 5px 15px;
			margin-left: 15px;
			border-left: 1px solid #ddd;
			&:hover, &:focus {
				text-decoration: none;
				color: #fff;
				background-color: #428bca;
			}
		}
	}
}

.formtastic {
	.control-label {
		float: left;
		width: 20%;
		text-align: left;
		margin: 6px 0;
	}
	.controls {
		width: 80%;
		float: left;
	}
	.choice {
		font-weight: normal;
	}
	.control-group:before,
	.control-group:after,
	.form-actions:before,
	.form-actions:after {
		content: " ";
		display: table;
	}
	.control-group:after,
	.form-actions:after {
		clear: both;
	}
	.control-group, .form-actions {
		*zoom: 1;
		margin-bottom: 10px;
	}
	.form-actions {
		margin-top: 30px;
	}
	@media (max-width: 768px) {
		.control-label, .controls {
			float: none;
			width: 100%;
		}
	}
	#sighting_time_sighted_input, #user_date_of_birth_input, #report_start_date_input, #report_end_date_input {
		.chosen-container {
			margin-bottom: 10px;
		}
	}
}

.chosen-container {
	font-size: 14px;
	.chosen-single {
		padding: 5px 0 4px 8px;
		height: 34px;
		background: #fff;
		box-shadow: none;
		border: 1px solid #ddd;
		div {
			width: 16px;
			margin-top: 5px;
		}
	}
	.chosen-results {
		padding: 0;
		margin: 0;
		li {
			padding: 3px 20px;
			line-height: 1.428571429;
		}
		li.highlighted {
			background: #428bca;
		}
	}
	.chosen-drop {
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding: 5px 0;
		input {
			border: 1px solid #ddd;
			border-radius: 4px;
		}
	}
}

.chosen-container-active.chosen-with-drop {
	.chosen-single {
		background: #fff;
		border: 1px solid #ddd;
	}
}

.chosen-container-single .chosen-single abbr {
	display: none;
}

.center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

body.modal-open {
	margin-right: 0 !important;
}

.isotope-item {
	float: left;
	padding: 10px;
	.isotope-item-wrapper {
		border-radius: 4px;
		border: 1px solid #ddd;
		.image {
			position:relative;
			.image-wrapper {
				height: 160px;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 4px 4px 0 0;
			}
			.overlay {
				background: rgba(0,0,0,0.5);
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				padding: 20px;
				color: #fff;
				border-radius: 4px 4px 0 0;
				h3 {
					margin: 0;
				}
			}
		}
		.button-container {
			position: absolute;
			bottom: 10px;
			right: 10px;
			display: none;
		}
		.table {
			margin-bottom: 0;
			span {
				display: block;
			}
			tr:last-child {
				border-radius: 0 0 4px 4px;
				td:first-child {
					border-radius: 0 0 0 4px;
				}
				td:last-child {
					border-radius: 0 0 4px 0;
				}
			}
			td {
				max-width: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	&:hover {
		.button-container {
			display: block;
		}
	}
}

header {
	margin-bottom: 10px;
	padding: 10px 0;
	.chosen-container {
		width: 160px;
	}
}

footer {
	background: #242628;
	color: #777;
	padding: 30px 0;
	p {
		margin: 0;
	}
	@media (max-width: 768px) {
		text-align:center;
		font-size: 11px;
		.pull-right, .pull-left {
			float: none !important;
		}
		p {
			margin-bottom: 10px;
		}
	}
}

h1, h2, h3, h4, h5, h6, body, input, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 31px;
	margin: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #fff;
	background-color: #428bca;
}