/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require formtastic
 *= require chosen
 *= require isotope.min.css
 *= require_self
 *= require_tree .
 */

html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	padding-top: 70px;
	overflow-x: hidden;
	overflow-y: scroll;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	min-height: 100%;
}

#container {
	padding-bottom: 70px;
}

.user-image {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	margin: -16px 8px -16px 0;
}

.logo {
	margin: -14px 7px -14px 0;
}

.side-nav {
	border: 1px solid #ddd;
	margin-top: 10px;
	padding: 10px 0;
	border-radius: 4px;
	width: 165px;
}

.center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

body.modal-open {
	margin-right: 0 !important;
}

.isotope-item {
	float: left;
	padding: 10px;
	&:hover {
		text-decoration: none;
		.isotope-item-wrapper {
			background: #eee;
		}
	}
}

.isotope-item-wrapper {
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 20px;
}

.isotope-header {
	margin-bottom: 10px;
	padding: 10px;
}

footer {
	background: #242628;
	color: #777;
	padding: 30px 0;
}

h1, h2, h3, h4, h5, h6, body, input, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 31px;
	margin: 0;
}