// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.landing {

	background-image: image-url("background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
	.navbar, .alert {
		display: none;
	}

	.title-1, .title-2 {
		color: #fff;
		text-shadow: 0px 0px 10px #000000;
	    filter: dropshadow(color=#000000, offx=0, offy=0);
	    line-height: 1.1em
	}

	.title-1 {
		font-size: 21px;
		font-weight: 700;
	}

	.title-2 {
		font-size: 16px;
		margin: 60px 0;
	}

	.form-actions {
		margin-top: 0;
	}

	#logo {
		margin-bottom: 60px;
	}

	@media (min-width: 768px) {
		.title-1 {
			font-size: 29px;
		}

		.title-2 {
			font-size:20px;
		}
		#logo {
			margin-bottom: 90px;
		}
	}

	@media (min-width: 992px) {
		.title-1 {
			font-size: 36px;
		}

		.title-2 {
			font-size: 24px;
		}
	}
}