// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require isotope.min.css

.home-sighting {
	width: 290px;
	border: 1px solid #ddd;
	padding: 20px;
	float: left;
	margin: 10px;
	border-radius: 4px;

	img {
		max-width: 100%;
	}
	
}