%header
	%h2 Report Details
%hr

%p
	There were
	= @final.length
	sightings reported within this time range:

- if !@final.empty?
	- @final.each do |sighting|
		%li= link_to sighting.pest.name + " seen at " + sighting.park.name, sighting_path(sighting)
%p
%p
	They were sighted throughout
	= @report.area_ids.length
	different areas:
	
- if !@report.areas.empty?
	- @report.areas.each do |area|
		%li= area.name